html,
body,
.container {
    font-family: 'Ubuntu', sans-serif !important;
}

.container {
    margin-top: 15px;
}

.name {
    font-size: 4em;

}

.contact {
    margin-top: 20px;
    font-size: 19px;
}

.contact label {
    display: inline-block;
    letter-spacing: 1px;
}

.section {}

.section .section-header {
    border-bottom: 1px solid #d0d0d0;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 5px 0;
    letter-spacing: 1px;
    font-weight: bold;
}

.section .section-content {
    font-size: 18px;
}